<footer class="footer">
    <div class="movie_wrap">

        <div class="loop_txt border">
            <div>
                BORDER LINE BORDER LINE&nbsp;BORDER LINE BORDER LINE&nbsp;
            </div>
            <div>
                BORDER LINE BORDER LINE&nbsp;BORDER LINE BORDER LINE&nbsp;
            </div>
            <div>
                BORDER LINE BORDER LINE&nbsp;BORDER LINE BORDER LINE&nbsp;
            </div>
            <div>
                BORDER LINE BORDER LINE&nbsp;BORDER LINE BORDER LINE&nbsp;
            </div>
        </div>
        <div class="footer_movie">
            <img src="<%= rootURL %>/assets/img/footer_movie.jpg" alt="">    
        </div>
        <div class="loop_txt yuw">
            <div>
                yuw 2025 Spring & Summer&nbsp;yuw 2025 Spring & Summer&nbsp;
            </div>
            <div>
                yuw 2025 Spring & Summer&nbsp;yuw 2025 Spring & Summer&nbsp;
            </div>
            <div>
                yuw 2025 Spring & Summer&nbsp;yuw 2025 Spring & Summer&nbsp;
            </div>
            <div>
                yuw 2025 Spring & Summer&nbsp;yuw 2025 Spring & Summer&nbsp;
            </div>
        </div>
    </div>
    <div class="allitem">
        <a href="" target="_blank">
            ALL ITEMS
            <div class="arrow"></div>
        </a>
    </div>
    <div class="link insta">
        <a href="" target="_blank">
            OFFICIAL INSTAGRAM
        </a>
    </div>
    <div class="link official">
        <a href="" target="_blank">
            OFFICIAL ONLINE STORE
        </a>
    </div>
    <div class="footer_img">
        <img src="<%= rootURL %>/assets/img/footer.jpg" alt="">    
        <div class="footer_logo">
            <img src="<%= rootURL %>/assets/img/yuw_logo.png" alt="">    
        </div>
        <p class="staff">
            STAFF
        </p>
        <div class="credit sp">
            Photo: Masaya Tanaka [TRON]<br>
            Styling: Mana Yamamoto<br>
            Hair: Keiko Tada [mod’s hair]<br>
            Make-up: Asami Taguchi [Home Agency]<br>
            Model: Alys [Agency NÓI]<br>
            Design: Atsuko Matsumoto<br>
            Development: Riho Yamamoto [Rhino]<br>
            Edit: Rhino inc.            
        </div>
        <div class="credit pc">
            <div class="credit_inner">
                <p class="credit_left">
                    Photo: Masaya Tanaka [TRON]<br>
                    Styling: Mana Yamamoto<br>
                    Hair: Keiko Tada [mod’s hair]<br>
                    Make-up: Asami Taguchi [Home Agency]<br>                
                </p>
                <p class="credit_right">
                    Model: Alys [Agency NÓI]<br>
                    Design: Atsuko Matsumoto<br>
                    Development: Riho Yamamoto [Rhino]<br>
                    Edit: Rhino inc.                
                </p>
            </div>
        </div>
        <p class="copyright">
            Copyright © Adastria Co., Ltd. All rights reserved.
        </p>
    </div>
</footer>