<header class="header">
    <img class="mv_ph sp" src="<%= rootURL %>/assets/img/sp_mv.jpg" alt="">         
    <img class="mv_ph pc" src="<%= rootURL %>/assets/img/pc_mv.jpg" alt="">       
    <h1 class="en_e">
        BORDER LINE
    </h1>  
    <h2 class="en_l">
        2025 Spring & Summer
    </h2>
    <div class="spyuw_logo">
        <img src="<%= rootURL %>/assets/img/yuw_logo.png" alt="">    
    </div>
</header>
<div class="lead_wrap">
    <p class="description">
        DESCRIPTION
    </p>
    <div class="lead">
        <p class="ja_lead ja">
            ダミーよく自由な着こなしを楽しむ<br>
            大人の女性のためのリミテッドライン「yuw」。<br>
            今シーズンは「DEEP SEA」をテーマに<br>
            セミシアーなアイテムで包みこむ<br>
            レイヤードスタイルを提案します。        
        </p>
        <p class="en_lead en_l">
            yuw is a limited line for adult women <br>
            who enjoy comfortable and free dressing.<br>
            This season, under the theme of <br>
            “DEEP SEA,” yuw proposes layered styles<br>
            wrapped in semi-sheer items.        
        </p>
    </div>
</div>