<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- meta -->
<title>yuw 2025spring | [公式]ローリーズファーム</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="keywords" content=".st,ドットエスティ,エスティ,アダストリア,lowrysfarm" />
<meta name="description" content="">
<meta property="og:title" content="yuw 2025spring | [公式]ローリーズファーム" />
<meta property="og:description" content="">
<meta property="og:url" content="https://www.dot-st.com/cp/lowrysfarm/yuw_2025spring/" />
<meta property="og:image" content="https://www.dot-st.com/static/docs/lowrysfarm/pages/yuw_2025spring/assets/img/ogp.jpg" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="[.st]（ドットエスティ）" />
<meta property="og:locale" content="ja_JP">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">


<link rel="stylesheet" href="<%= rootURL %>/assets/css/style.css">