<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- meta -->
<title>2025 SPRING & SUMMER | [公式]ローリーズファーム</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="keywords" content=".st,ドットエスティ,エスティ,アダストリア,lowrysfarm" />
<meta name="description" content="">
<meta property="og:title" content="2025 SPRING & SUMMER | [公式]ローリーズファーム" />
<meta property="og:description" content="">
<meta property="og:url" content="https://www.dot-st.com/cp/lowrysfarm/yuw_2025spring/" />
<meta property="og:image" content="https://www.dot-st.com/static/docs/lowrysfarm/pages/yuw_2025spring/assets/img/ogp.jpg" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="[.st]（ドットエスティ）" />
<meta property="og:locale" content="ja_JP">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
<script>
    (function(d) {
      var config = {
        kitId: 'lob0rer',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

<link rel="stylesheet" href="<%= rootURL %>/assets/css/style.css">