@use './_reset';
@use './_mixin' as *;


$spw : 750;
$pcw : 2732;
$main: 1342;

body{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    
    &.noscroll{
        overflow: hidden;
    }
}

.pc{
    display: none;
}
.sp{
    display: block;
}

@include pc{
    .pc{
        display: block;
    }
    .sp{
        display: none;
    } 
}

.en_e{
    font-family: montserrat, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.en_l{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ja{
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fadein{
    opacity: 0;
    transition: opacity .8s ease;
    &.in{
        opacity: 1;
    }
}


@keyframes waveAnime{
    0%{
        clip-path: inset(0);
    }
    50%{
        clip-path: inset(0 0 0 100%);
    }
    51%{
        clip-path: inset(0 100% 0 0 );
    }
    100%{
        clip-path: inset(0);
    }
}
