@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

.sec{
    width: 100%;
    .ph_wrap{
        position: relative;
    }
    .num{
        position: absolute;
        top: 0;
        left: 0;
        font-size: calc(35 / c.$spw * 100vw);
        line-height: 1;      
        padding-top: calc(49 / c.$spw) * 100%;  
        margin-left: calc(44.6 / c.$spw) * 100%;  
        z-index: 40;
        opacity: 1;
        transition: opacity .5s ease;
        @include pc{
            font-size: min(calc(48 / c.$pcw * 100vw),24px);
        }
        &.fadeout{
            opacity: 0;
        }
    }

    .look_ph{
        line-height: 0;
    }
    .item_detail{
        margin-top: calc(48.3 / c.$spw) * 100%;  
        margin-left: calc(50.26 / c.$spw) * 100%;  
        @include pc{
            margin-top: calc(78.3 / c.$main) * 100%;  
        }
        p{
            a{
                opacity: 1;
                transition: opacity .3s ease;
                cursor: pointer;
                color: #000;
                font-size: calc(32 / c.$spw * 100vw);
                line-height: calc(55 / 32);
                @include pc{
                    font-size: min(calc(32 / c.$pcw * 100vw),16px);
                }
                &:hover{
                    opacity: .5;
                }
            }
        }

    }
}

.shopnow{
    padding-top: calc(35 / c.$spw) * 100%;
    font-size: calc(27 / c.$spw * 100vw);
    line-height: 1;
    @include pc{
        font-size: min(calc(33 / c.$pcw * 100vw),16.2px);
        padding-top: calc(35 / c.$main) * 100%;
    }
    &:hover{
        .shop{
            .wave{
                animation: waveAnime .5s forwards;
            }
        }
        .arrow{
            transform: translateX(8px);
        }
    }
    a{
        color: #000;
        position: relative;
        display: flex;
        vertical-align: middle;
        align-items: center;
        gap: 5px;
        .arrow{
            display: block;
            position: relative;
            width: calc(29.27 / c.$spw) * 100%;
            height: 0.7px;
            background: #000;
            transform: translateX(0);
            transition: transform .5s ease;

            &::before,
            &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 7px;
            height: 0.7px;
            border-radius: 9999px;
            background-color: #000;
            transform-origin: 100% 50%;
            }

            &::before {
            transform: translateY(-50%) rotate(40deg);
            }

            &::after {
            transform: translateY(-50%) rotate(-40deg);
            }
        }
    }
    
    .shop{
        display: block;
        position: relative;
        font-weight: 300;
        .wave{
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom: -4px;
            clip-path: inset(0);
        }
    }
}


.sec_1{
    margin-top: calc(160.5 / c.$spw) * 100%;
    @include pc{
        margin-top: calc(180.5 / c.$main) * 100%;

    }
    .look_ph{
        position: sticky;
        top: 0;
    }

}


.sec_2{
    margin-top: calc(104.5 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    .look2-1{
        width: 100%;
        margin: 0 auto;
    }     
}


.sec_3{
    
    margin-top: calc(104.5 / c.$spw) * 100%;
    .look3-1{
        width: 100%;
        margin: 0 auto;
    }   
    .look3-2{
        width: calc(528 / c.$spw) * 100%;
        margin: calc(30 / c.$spw) * 100% 0 0 auto;

    }   
      
}



.sec_4{
    margin-top: calc(110 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    .look4-1{
        width: 100%;
        margin: 0 auto;
    }     
    .look4-2{
        width: 100%;
        margin: 0 auto;
    }     
}

.sec_5{
    margin-top: calc(125 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    
    .look5-1{
        width: 100%;
    }   
    .look5-2{
        margin: 0 auto;
    }  
}

.sec_6{
    margin-top: calc(141 / c.$spw) * 100%;
    .look_ph{
        width: calc(570 / c.$spw) * 100%;
        margin: 0 auto;
    }
    
    .look6-2{
        padding-top: calc(10 / c.$spw) * 100%;
    }  
}
.sec_7{
    margin-top: calc(124 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }

}


.sec_8{
    .num{
        padding-top: calc(158.7 / c.$spw) * 100%;  
        margin-left: calc(44.6 / c.$spw) * 100%;  
    }
    .ph_wrap{
        padding-top: calc(130 / c.$spw) * 100%;
    }
}
.sec_9{
    margin-top: calc(118 / c.$spw) * 100%;
    .look_ph{
        position: sticky;
        top: 0;
    }
    
}

.caption{
    font-size: calc(20 / c.$spw * 100vw);
    display: block;
    line-height: 1;
    @include pc{
        display: inline;
        font-size: min(calc(25 / c.$pcw * 100vw),12.5px);
        
    }
}