@use './_reset';
@use './_mixin' as *;
@use './_common' as c;

body{
    &.start{
        .bg{
            .up_1{
                animation: up_1 40s linear infinite;
            }
            .up_2{
                animation: up_2 40s linear infinite;
            }
            .up_3{
                animation: up_3 40s linear infinite;
            }
            .down_1{
                animation: down_1 40s linear infinite;
            }
            .down_2{
                animation: down_2 40s linear infinite;
            }
            .down_3{
                animation: down_3 40s linear infinite;
            }
        }
        .yuw_logo,
        .pc-anchor_wrap,
        .pc_txt{
            opacity: 1;
        }
    }
}

.yuw_logo{
    opacity: 0;
    transition: opacity 1s 2s ease-in;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: calc(195 / c.$pcw) * 100%;
    max-width: 92.5px;
    margin: calc(104 / c.$pcw) * 100% 0 0 calc(107 / c.$pcw) * 100%;
}

.bg{
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    @include pc{
        display: block;
    }
    
    .up,
    .down{
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
        .color{
            width: 100%;
            line-height: 0;
            position: absolute;
            left: 0
        }
    }
    .up{
        .color{
            top: 0;
            clip-path: inset(0 0 0 100%);
        }

    }
    .down{
        .color{
            bottom: 0;
            clip-path: inset(0 100% 0 0);
        }
    }  
}

.up_1,
.down_1{
    z-index: 10;
}
.up_2,
.down_2{
    z-index: 20;
}
.up_3,
.down_3{
    z-index: 30;
}


@keyframes up_1 {
    0%{
        clip-path: inset(0 0 0 100%);
    }
    15%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 100% 0 0);
    }
}
@keyframes up_2 {
    0%,25%{        
        clip-path: inset(0 0 0 100%);
    }
    40%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 100% 0 0);
    }
}
@keyframes up_3 {
    0%,50%{
        clip-path: inset(0 0 0 100%);
    }
    65%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 100% 0 0);
    }
}


@keyframes down_1 {
    0%{
        clip-path: inset(0 100% 0 0);
    }
    15%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 0 0 100%);
        
    }
}
@keyframes down_2 {
    0%,25%{        
        clip-path: inset(0 100% 0 0);
    }
    40%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 0 0 100%);
    }
}
@keyframes down_3 {
    0%,50%{
        clip-path: inset(0 100% 0 0);
    }
    65%,75%{
        clip-path: inset(0 0 0 0); 
    }
    90%,100%{
        clip-path: inset(0 0 0 100%);
    }
}




.contents-inner{
    width: 100%;
    position: relative;
    z-index: 1000;
}

.pc_txt{
    opacity: 0;
    transition: opacity 1s 2s ease-in;
    position: fixed;
    width: calc(41.01 / c.$pcw) * 100%;
    max-width: 20.5px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: calc(72 / c.$pcw) * 100%;
}

.wrapper{
    @include pc{
    width: calc(1342 / c.$pcw) * 100%;
    max-width: 671px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: calc(303 / c.$pcw) * 100%;
    border-left: solid 1px #FF56D2;
    border-right: solid 1px #FF56D2;
    background-color: rgba(255, 255, 255, 0.3);

    }
}


.pc-anchor_wrap{
    opacity: 0;
    transition: opacity 1s 2s ease-in;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: calc(149.65 / c.$pcw) * 100%;
    margin-left: calc(123.22 / c.$pcw) * 100%;
    display: none;
    width: -webkit-fill-available;
    @include pc{
        display: flex;
    }

    .anchor_link{
        white-space: nowrap;
        li{
            margin-bottom: 28.5px;
            position: relative;
            padding-bottom: 4px;
            
            &:last-of-type{
                margin-bottom: 0;
            }
            a{
                color: #000;
            }
            .wave{
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                clip-path: inset(0 100% 0 0);
                transition: all .4s ease;
            }

        }
    }
    .second_link{
        padding-left: calc(97 / c.$pcw) * 100%;
    }

}







.contents:has(#sec_1.on) .pc-anchor_wrap .first_line li:nth-child(1) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_1.on) .pc-anchor_wrap .first_line li:not(:nth-child(1)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_1.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_2.on) .pc-anchor_wrap .first_line li:nth-child(2) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_2.on) .pc-anchor_wrap .first_line li:not(:nth-child(2)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_2.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_3.on) .pc-anchor_wrap .first_line li:nth-child(3) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_3.on) .pc-anchor_wrap .first_line li:not(:nth-child(3)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_3.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_4.on) .pc-anchor_wrap .first_line li:nth-child(4) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_4.on) .pc-anchor_wrap .first_line li:not(:nth-child(4)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_4.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}

.contents:has(#sec_5.on) .pc-anchor_wrap .first_line li:nth-child(5) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_5.on) .pc-anchor_wrap .first_line li:not(:nth-child(5)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_5.on) .pc-anchor_wrap .second_link li .wave{
    clip-path: inset(0 0 0 100%);
}




.contents:has(#sec_6.on) .pc-anchor_wrap .second_link li:nth-child(1) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_6.on) .pc-anchor_wrap .second_link li:not(:nth-child(1)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_6.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}

.contents:has(#sec_7.on) .pc-anchor_wrap .second_link li:nth-child(2) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_7.on) .pc-anchor_wrap .second_link li:not(:nth-child(2)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_7.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%);
}


.contents:has(#sec_8.on) .pc-anchor_wrap .second_link li:nth-child(3) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_8.on) .pc-anchor_wrap .second_link li:not(:nth-child(3)) .wave{
    clip-path: inset(0 0 0 100%);
}
.contents:has(#sec_8.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}



.contents:has(#sec_9.on) .pc-anchor_wrap .second_link li:nth-child(4) .wave{
    clip-path: inset(0);
}

.contents:has(#sec_9.on) .pc-anchor_wrap .second_link li:not(:nth-child(4)) .wave{
    clip-path: inset(0 0 0 100%);
}

.contents:has(#sec_9.on) .pc-anchor_wrap .first_line li .wave{
    clip-path: inset(0 0 0 100%)!important; 
}

